.mainContainer {
    display: flex;
    
}

.chatbox {
    width: 100%;
}

.contacts {
    width: 100%;
}

@media(max-width: 600px) {
    .chatbox {
       display: none;   
    }
    
    .contacts {
        flex: 1;
    }
}